<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FREE CRM Application Test Automation Test Suite">

	 <listeners>
		<listener class-name="rcivic.extentreports.ExtentReporterNG" />
	</listeners>


	<test name="Free CRM App Test Cases">
		<classes>
			<!--  <class name="tests.ContactsTabTest"></class> -->
			<class name="tests.HomePageTest"></class>
			<class name="tests.LoggedinPageTest"></class>
			<!-- <class name="tests.LoginPageTest"></class> -->
		</classes>
	</test>
</suite>